<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/images/favicon.ico">
    <title>Log Your Workout</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link href="/css/mycss.css" rel="stylesheet">
  </head>
  <body>
    <header class="site-header sticky-top py-1">
      <nav id="myNavbar" class="container d-flex flex-column flex-md-row justify-content-between ms-1 me-1">
        <a class="py-2" href="/">
          <img src="/images/LOGO.png" width="125" height="35" alt="logo">
        </a>
        <a class="py-2 d-none d-md-inline-block" href="#">HOME</a>
        <a class="py-2 d-none d-md-inline-block" href="#">LOGyours</a>
        <a class="py-2 d-none d-md-inline-block" href="#">yourLOG</a>
      </nav>
    </header>
    <div id="myHome" class="home">
      <div class="col-6 p-5 mx-auto my-5">
        <h1>Change your shape by LOGing your workout</h1>
        <button class="btn btn-primary">Start !</button>
      </div>
    </div>
    <div id="myForm">
      <div>
        <label for="name">Name</label>
        <input type="text" id="name" name="name" value="">
      </div>
      <div>
        <label for="date">Date</label>
        <input type="date" id="date" name="date" value="">
      </div>
      <div>
        <label for="workout">workout</label>
        <input type="text" id="workout" name="workout" value="">
      </div>
      <div>
        <button id="submit">Submit</button>
        <button id="show">Show</button>
      </div>
    </div>
    <div id="myTable">
      <div class="table-responsive">
        <table id="workoutTable" class="table">
          <thead id="tHead">
            <tr>
              <th scope="col" class="no">number</th>
              <th scope="col" class="name">name</th>
              <th scope="col" class="date">date</th>
              <th scope="col" class="workout">workout</th>
              <th scope="col" class="update">update</th>
              <th scope="col" class="delete">delete</th>
            </tr>
          </thead>
          <tbody id="tBody">

          </tbody>
        </table>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
  </body>
  <script>
    //<<==========SUBMIT BUTTON LISTENER==========>>
    document.getElementById('submit').addEventListener('click', () => {
      let name = document.getElementById('name').value;
      let date = document.getElementById('date').value;
      let workout = document.getElementById('workout').value;
      //POST
      fetch('http://localhost:8080/workout', {
        method: 'POST',
        body: JSON.stringify({
          name: name,
          date: date,
          workout: workout
        }),
        headers: {
            'Content-Type': 'application/json'
        }
      })
      .then(response => response.text())
      .then(console.log)
    });
    //<<==========SHOW BUTTON LISTENER==========>>
    document.getElementById('show').addEventListener('click', () => {
      //GET
      fetch('http://localhost:8080/workout')
      .then(response => response.json())
      .then(function(response){
        let tBody = document.getElementById("tBody");
        tBody.innerHTML = ``;
        for (let i=response.length-1 ; i >= 0 ; i--){
          let row = `<tr id='tr${i+1}'>
                            <td>${i+1}</td>
                            <td>${response[i].name}</td>
                            <td>${response[i].date.slice(0,-14)}</td>
                            <td>${response[i].workout}</td>
                            <td>
                              <button id="update-btn" class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#updateArea${i+1}" aria-expanded="false" aria-controls="collapseExample">update</button>
                            </td>
                            <td>
                              <button id="delete-btn" class="btn btn-primary" type="button">delete</button>
                            </td>
                          </tr>
                          <tr class="collapse" id="updateArea${i+1}">
                            <td>${i+1}</td>
                            <td>${response[i].name}</td>
                            <td>${response[i].date.slice(0,-14)}</td>
                            <td><input type="text" id="update-workout${i+1}" name="workout" value="${response[i].workout}"></td>
                            <td><button id="done-btn" class="btn btn-danger" type="button">done</button></td>
                            <td></td>
                          </tr>`;
          tBody.innerHTML += row;
        }
      })
    });
    //<<==========DELETE BUTTON LISTENER==========>>
    document.getElementById('workoutTable').addEventListener('click', (event) => {
      if(event.target && event.target.id == 'delete-btn'){
        let trId = event.target.parentNode.parentNode.id;
        let tr = document.getElementById(trId);
        let td = tr.getElementsByTagName("td");
        let deleteId = td[2].innerHTML;
        fetch('http://localhost:8080/workout/deleteProcess/' + deleteId, {
            method: 'DELETE',
          })
          .then(response => response.json())
          .then(function(response){
            let tBody = document.getElementById("tBody");
            tBody.innerHTML = ``;
            for (let i=response.length-1 ; i >= 0 ; i--){
              let row = `<tr id='tr${i+1}'>
                            <td>${i+1}</td>
                            <td>${response[i].name}</td>
                            <td>${response[i].date.slice(0,-14)}</td>
                            <td>${response[i].workout}</td>
                            <td>
                              <button id="update-btn" class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#updateArea${i+1}" aria-expanded="false" aria-controls="collapseExample">update</button>
                            </td>
                            <td>
                              <button id="delete-btn" class="btn btn-primary" type="button">delete</button>
                            </td>
                          </tr>
                          <tr class="collapse" id="updateArea${i+1}">
                            <td>${i+1}</td>
                            <td>${response[i].name}</td>
                            <td>${response[i].date.slice(0,-14)}</td>
                            <td><input type="text" id="update-workout${i+1}" name="workout" value="${response[i].workout}"></td>
                            <td><button id="done-btn" class="btn btn-danger" type="button">done</button></td>
                            <td></td>
                          </tr>`;
              tBody.innerHTML += row;
            }
          })
      }
    });
    //<<==========UPDATE BUTTON LISTENER==========>>
    document.getElementById('workoutTable').addEventListener('click', (event) => {
      if(event.target && event.target.id == 'done-btn'){
        let trId = event.target.parentNode.parentNode.id;
        let tr = document.getElementById(trId);
        let td = tr.getElementsByTagName("td");
        let updateId = td[2].innerHTML;
        let thisNum = trId.slice(-1);
        let workout = document.getElementById(`update-workout${thisNum}`).value;
        let thisName = td[1].innerHTML;
        fetch('http://localhost:8080/workout/updateProcess/' + updateId, {
            method: 'PUT',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              name: thisName,
              date: updateId,
              workout : workout
            })
          })
          .then(response => response.json())
          .then(function(response){
            let tBody = document.getElementById("tBody");
            tBody.innerHTML = ``;
            for (let i=response.length-1 ; i >= 0 ; i--){
              let row = `<tr id='tr${i+1}'>
                            <td>${i+1}</td>
                            <td>${response[i].name}</td>
                            <td>${response[i].date.slice(0,-14)}</td>
                            <td>${response[i].workout}</td>
                            <td>
                              <button id="update-btn" class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#updateArea${i+1}" aria-expanded="false" aria-controls="collapseExample">update</button>
                            </td>
                            <td>
                              <button id="delete-btn" class="btn btn-primary" type="button">delete</button>
                            </td>
                          </tr>
                          <tr class="collapse" id="updateArea${i+1}">
                            <td>${i+1}</td>
                            <td>${response[i].name}</td>
                            <td>${response[i].date.slice(0,-14)}</td>
                            <td><input type="text" id="update-workout${i+1}" name="workout" value="${response[i].workout}"></td>
                            <td><button id="done-btn" class="btn btn-danger" type="button">done</button></td>
                            <td></td>
                          </tr>`;
              tBody.innerHTML += row;
            }
          })
      }
    });
  </script>
</html>
