<!DOCTYPE html>
<html>
  <head>
    <title>Workout Log</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  </head>
  <body>
    <h1>Your Workout Log</h1>
      <div>
        <label for="name">Name</label>
        <input type="text" id="name" name="name" value="">
      </div>
      <div>
        <label for="date">Date</label>
        <input type="date" id="date" name="date" value="">
      </div>
      <div>
        <label for="workout">workout</label>
        <input type="text" id="workout" name="workout" value="">
      </div>
      <div>
        <button id="submit">Submit</button>
        <button id="show">Show</button>
      </div>
      <div>
        <table id="workoutTable" class="table">
          <thead id="tHead">
            <tr>
              <th scope="col" class="no">number</th>
              <th scope="col" class="name">name</th>
              <th scope="col" class="date">date</th>
              <th scope="col" class="workout">workout</th>
              <th scope="col" class="update">update</th>
              <th scope="col" class="delete">delete</th>
            </tr>
          </thead>
          <tbody id="tBody">

          </tbody>
        </table>
      </div>
  </body>
  <script>
    //SUBMIT BUTTON LISTENER
    document.getElementById('submit').addEventListener('click', () => {
      let name = document.getElementById('name').value;
      let date = document.getElementById('date').value;
      let workout = document.getElementById('workout').value;
      //POST
      fetch('http://localhost:8080/workout', {
        method: 'POST',
        body: JSON.stringify({
          name: name,
          date: date,
          workout: workout
        }),
        headers: {
            'Content-Type': 'application/json'
        }
      })
      .then(response => response.text())
      .then(console.log)
    });
    //SHOW BUTTON LISTENER
    document.getElementById('show').addEventListener('click', () => {
      //GET
      fetch('http://localhost:8080/workout')
      .then(response => response.json())
      .then(function(response){
        let tBody = document.getElementById("tBody");
        tBody.innerHTML = ``;
        for (let i=response.length-1 ; i >= 0 ; i--){
          let row = `<tr id='tr${i+1}'>
                            <td>${i+1}</td>
                            <td>${response[i].name}</td>
                            <td>${response[i].date.slice(0,-14)}</td>
                            <td>${response[i].workout}</td>
                            <td>
                              <button id="update-btn">update</button>
                            </td>
                            <td>
                              <button id="delete-btn">delete</button>
                            </td>
                          </tr>`;
          tBody.innerHTML += row;
        }
      })
    });
    //DELETE BUTTON LISTENER
    document.getElementById('workoutTable').addEventListener('click', (event) => {
      if(event.target && event.target.id == 'delete-btn'){
        let trId = event.target.parentNode.parentNode.id;
        let tr = document.getElementById(trId);
        let td = tr.getElementsByTagName("td");
        let deleteId = td[2].innerHTML;
        fetch('http://localhost:8080/workout/deleteProcess/' + deleteId, {
            method: 'DELETE',
          })
          .then(response => response.json())
          .then(function(response){
            let tBody = document.getElementById("tBody");
            tBody.innerHTML = ``;
            for (let i=response.length-1 ; i >= 0 ; i--){
              let row = `<tr id='tr${i+1}'>
                                <td>${i+1}</td>
                                <td>${response[i].name}</td>
                                <td>${response[i].date.slice(0,-14)}</td>
                                <td>${response[i].workout}</td>
                                <td>
                                  <button id="update-btn">update</button>
                                </td>
                                <td>
                                  <button id="delete-btn">delete</button>
                                </td>
                              </tr>`;
              tBody.innerHTML += row;
            }
          })
      }
    });
  </script>
</html>
